.u-section-1 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-1 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 1.5rem;
  width: 729px;
  margin: 208px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 26px 97px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 727px;
    margin-top: 165px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-text-3 {
    margin: 21px 0 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 214px;
    margin-right: -11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 197px;
    margin-right: 53px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 189px;
    margin-right: -36px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}