.u-section-1 .u-sheet-1 {
  min-height: 1568px;
}

.u-section-1 .u-text-1 {
  margin: 140px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 120px auto 0;
}

.u-section-1 .u-list-1 {
  height: auto;
  margin: 61px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 559px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 246px;
  height: 236px;
  background-image: url("https://assets.nicepagecdn.com/c8ec7fd7/4139860/images/Sohaibinzoem.png");
  background-position: 50% 51.89%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  margin: 97px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 46px;
  min-height: 16px;
  width: 102px;
  min-width: 42px;
  margin: 87px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 246px;
  height: 236px;
  background-image: url("https://assets.nicepagecdn.com/c8ec7fd7/4139860/images/samidjelleba.jpg");
  background-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 97px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  min-height: 16px;
  width: 102px;
  min-width: 42px;
  margin: 164px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 246px;
  height: 236px;
  background-image: url("https://assets.nicepagecdn.com/c8ec7fd7/4139860/images/marktplaatshamza.png");
  background-position: 50% 29.25%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 97px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 46px;
  min-height: 16px;
  width: 102px;
  min-width: 42px;
  margin: 87px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 998px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 105px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 236px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-1 .u-text-4 {
    width: 163px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 40px;
    width: 90px;
    margin-top: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 105px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 236px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-1 .u-text-7 {
    width: 163px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-social-icons-2 {
    height: 40px;
    width: 90px;
    margin-top: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 105px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-3 {
    width: 236px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-1 .u-text-10 {
    width: 163px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-social-icons-3 {
    height: 40px;
    width: 90px;
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 559px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 32px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 31px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-2 {
    width: 80px;
    min-width: 32px;
  }
}